### IntelliJ ###
/.idea/libraries/
/.idea/shelf/
/.idea/workspace.xml

### IntelliJ Plugins ###
/.idea/db*
/.idea/note*
/.idea/aws*
/.idea/azure*

### Global Directories ###
**/.git/
**/bin/
**/javadoc/
**/javadocs/
**/lib/
**/target/
**/temp/
**/tmp/

### Root Directories ###
/data/
/etc/
/log/


### File Types ###

*.iws

*.rar

*.jar
!**/resources/**/*.jar
!**/test-resources/**/*.jar

*.zip
!**/resources/**/*.zip
!**/test-resources/**/*.zip
